@import "tailwindcss";

:root {
  --background: #241811;
  --foreground: #e7d6b4;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-umber: #241811;
  --color-umber-2: #2f2117;
  --color-terracotta: #c1653d;
  --color-ochre: #d19a3e;
  --color-clay: #93472a;
  --color-sand: #e7d6b4;
  --color-olive: #5c6b3c;
  --color-ink: #17100b;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

body.cursor-none,
body.cursor-none * {
  cursor: none !important;
}
